@charset 'UTF-8';

// @import "_colors.scss";
// @import "_lib.scss";
// @import "_mediaquery.scss";
// @import "_fontSize.scss";

/*  //voice */
.cover-picture {
  position: relative;
  margin-right: auto;
  margin-left: auto;
}
.cover-picture__inner {
  position: relative;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  &.voice {
    background-image: url("../img/voice_pc.jpg");
    @include media(tb) {
      background-image: url("../img/voice_tb.jpg");
    }
    @include media(sp) {
      background-image: url("../img/voice_sp.jpg");
    }
  }
  /*  pageTop-imgのグラデ背景色 */
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent) left
      center/100% no-repeat;
  }
}

